<!-- Main hero unit for a primary marketing message or call to action -->
<div id="bookcase-background">
    <div id="heroic">
        <h1>Bestsellers.</br> Almost free </h1>
        <p>
        <br />
            1. Sample one of our featured books.</br>
            2. Recommend it to your friends.</br>
            3. Get your book for <strong>99p.</strong></br>
        </p>
        <%= link_to "Get Reading", book_path(@random_book.id) , class: "btn btn-large btn-primary" %>
    </div>
</div>

<div>
    <h1 align="center">
        Featured Books
    </h2>
</div>
    <div class="row-fluid">
        <div class="span4 offset2">
            <h2 align="Center"><%= @books.find(1).title %></h2>
            <div class="row-fluid">
                <div class="span4">
                    <%= image_tag('GG.jpg', class: "bookcover") %>
                </div>
                <div class="span8 synopsis">
                    <%= @books.find(1).synopsis.html_safe %>
                </div>
            </div>
            <div style="padding-top: 10px;">
                <%= link_to "Read Sample", book_path(@books.find(1)), class: "btn" %>
            </div>
        </div>

        <div class="span4">
           <h2 align="Center"><%= @books.find(2).title %></h2>
           <div class="row-fluid">
               <div class="span4">
                   <%= image_tag('malice.jpg', class: "bookcover") %>
               </div>
               <div class="span8">
                    <p class="synopsis">
                        <%= @books.find(2).synopsis %>
                    </p>
                </div>
            </div>
            <div>
                <%= link_to "Read Sample", book_path(@books.find(2)), class: "btn" %>
            </div>
        </div>
    </div> 