<div class="recommendation">
	<div class="form">
		<%= form_tag("/books/#{params[:id]}/recommend") do %>
			
			<%= label_tag :name, "Your Name" %>
			<%= text_field_tag 'name' %>
			
			<%= label_tag :email, "Your Email" %>
			<%= email_field_tag 'userEmail', nil, placeholder: "Provide your email address" %>

			<%= label_tag :emails, "Friends Emails" %>
			<%= text_field_tag 'emails', nil, placeholder: "Enter at least two emails separated by a comma (,)" %>	
	</div>
			<%= submit_tag 'Recommend', class: "btn btn-primary" %>
		<% end %>
	<%= link_to "Return to Book", book_path, class: "btn btn-primary" %>


</div>