<div class="recommendation">
	<%= form_tag("/books/#{params[:id]}/recommend") do %>
		Name:<%= text_field_tag 'name' %>
		Email:<%= email_field_tag 'userEmail', nil, placeholder: "Provide your email address" %>
		Recommend to:<%= text_field_tag 'emails', nil, placeholder: "Enter emails separate by ," %>
		<%= submit_tag 'Recommend' %>
	<% end %>

	<%= mail_to "", "Recommend", bcc: "recommend@readerly.io", subject: "Check out #{@book.title} by #{@book.author}", body: "Hi, \n\n I'm currently reading #{@book.title} on http://www.readerly.io.", class: "btn btn-primary" %>
	<%= link_to "Return to Book", book_path, class: "btn btn-primary" %>


</div>