<div class="recommendation">
	<div class="form">
	<p>Please enter your name, email and the email address of two people you would like to recommend <strong><%= @book.title %></strong> to.</p>
		<%= form_tag("/books/#{params[:id]}/recommend") do %>
			
			<%= label_tag :name, "Your Name" %>
			<%= text_field_tag 'name' %>
			
			<%= label_tag :email, "Your Email" %>
			<%= email_field_tag 'email', nil, placeholder: "Provide your email address" %>

			<%= label_tag :email1, "Friends Emails" %>
			<%= email_field_tag 'email2', nil, placeholder: "Enter first email" %>

			<%= email_field_tag 'email2', nil, placeholder: "Enter second email" %>
	</div>
			<%= submit_tag 'Recommend', class: "btn btn-primary" %>
		<% end %>
	<%= link_to "Return to Book", book_path, class: "btn btn-primary" %>


</div>