<div class="holder">
	<div class="book-content">
	    <%= @book.chapters.html_safe %>
	    <hr>
	    <div>
	    	<p><em>You have been reading a sample from <%= @book.title %> by <%= @book.author %>.</p>
	    	<p>If you would like to buy the eBook version for 99p simply recommend it to two people by clicking recommend.</em></p>
	    	<%= link_to "Recommend", recommend_book_path, class: "btn btn-primary" %>
	    </div>
	</div>
	<div class="sidebar-wrapper">
	    <div class="sidebar">
	    	<h4> You are reading <%= @book.title %> by <%= @book.author %> </h4>
	    	<%= link_to "Recommend & Buy for 99p", recommend_book_path, class: "btn btn-primary" %>
    	</div>
	</div>
</div>