<div class="span11 offset3">

	<div class="book-content">
	    <%= @book.chapters.html_safe %>
	    <hr>
	    <div>
	    	<p><em>You have been reading a sample from <%= @book.title %> by <%= @book.author %>.</p>
	    	<p>If you would like to buy the eBook version for 99p simply recommend it to two people by clicking recommend.</em></p>
	    	<%= link_to "Recommend", recommend_book_path, class: "btn btn-primary" %>
	    </div>
	</div>
	<div class="sidebar-wrapper">
	    <div class="sidebar">
	    	<h4> You are reading <%= @book.title %> by <%= @book.author %> </h4>
	    	<%= link_to "Recommend", recommend_book_path, class: "btn btn-primary" %>
        	<%= link_to "Download PDF", '#', class: "btn btn-primary" %>
        	<%= link_to "Buy", '#', class: "btn btn-warning" %>
        	
    	</div>
	</div>
</div>

<p> <a href="<%= "mailto:?bcc=test@readerly.io&subject= Book recommendation - " + @book.title  + "&body=Hi, I've just started reading " + @book.title + " on Readerly.com. I thought you might enjoy it." %>"> Recommend to friend and get the book for 99p</a></p>