<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <%= link_to "Readerly", root_path, id: "logo" %> <small>beta</small>
            <nav>
                <ul class="nav pull-right">
                    <li><%= link_to "Home", root_path %></li>
                    <li><%= link_to "Books", books_path %></li>
                    <li><%= link_to "About", '#' %></li>
                    <li><%= link_to "Contact", '#' %></li>
                </ul>
            </nav>
        </div>
    </div>
</header>